@import url('https://fonts.googleapis.com/css?family=Maven Pro');

* {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Maven Pro', sans-serif;
  text-decoration: none;
}

body {
  height: 100vh;
  max-width: 100%;
  margin: 0;
}

p {
  font-size: 2.4rem;
  text-align: center;
  max-width: 60%;
}

/** HEADER START **/

.header {
  grid-area: header;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 6rem;
  padding: 1rem;
  border-bottom: 0.2rem solid black;
}

.header__figure, .header h1 {
  color: #54EABD;
  margin: 0;
  display: flex;
  align-items: center;
}

.header__logo {
  width: 3.5rem;
  height: auto;
  margin-left: 1rem;
}

/** NAV START **/

.nav {
  margin-left: auto;
  font-size: 3rem;
}

.nav__icon {
  width: 3.5rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.nav__icon {
  display: none;
}

.nav__home:hover, .nav__about:hover, .nav__contact:hover {
  color: #EA5481;
}

.nav__home, .nav__about, .nav__contact {
  color: #54EABD;
}

/** NAV END **/

/** HEADER END **/

/** LANDING WRAPPER START **/

.wrapper__landing {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  gap: 0;
  margin: 0;
}

/** LANDING WRAPPER END **/

/** MAIN LANDING START **/

.main {
  background-color: rgb(230, 230, 230);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 8rem;
}

.main__heading {
  font-size: 4.5rem;
  padding: 3rem;
}

.span {
  font-size: 4.5rem;
  color: #54EABD;
}

.span--bonzai {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__text {
  margin-top: 6rem;
  margin-bottom: 0;
}

/** BUTTON START **/

.button {
  font-size: 2rem;
  font-weight: 600;
  margin: 4rem;
  padding: 1.2rem 2.4rem;
  color: #54EABD;
  background-color: #000;
  border: 0.3rem solid #54EABD;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.button:hover {
  color: #EA5481;
  border: 0.3rem solid #EA5481;
}

/** BUTTON END **/

/** MAIN LANDING END **/

/** ABOUT START **/

/** WRAPPER ABOUT START **/

.figure__first { grid-area: first; }
.section__about { grid-area: about; }
.figure__second { grid-area: second; }
.section__aside { grid-area: aside; }

.wrapper__about {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-template-areas: 
  "header"
  "first"
  "about"
  "second"
  "aside"
  "footer";
  gap: 0;
  margin: 0;
}

/** WRAPPER ABOUT END **/

.section__about, .section__aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem;
  border: 0.1rem solid #000;
  background-color: rgb(230, 230, 230);
  font-size: 8rem;
}

.section__aside {
  font-size: 6rem;
}

.about__bonzai {
  font-size: 100%;
  color: #54EABD;
}

.figure__first, .figure__second {
  display: flex;
  align-items: center;
  margin: 4rem;
  border: 0.1rem solid #000;
  background-color: rgb(230, 230, 230);
}

.figure__image {
  max-width: 100%;
}

/** ABOUT END **/

/** BOOKING START **/

/** WRAPPER BOOKING **/

.figure__one { grid-area: one; }
.figure__two { grid-area: two; }
.figure__three { grid-area: three; }
.figure__four { grid-area: four; }
.figure__five { grid-area: five; }
.figure__six { grid-area: six; }
.form { grid-area: form; }

.wrapper__booking {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-template-areas: 
  "header"
  "one"
  "booking"
  "form"
  "two"
  "footer";
  gap: 0;
  margin: 0;
}

/** WRAPPER BOOKING END **/

.booking {
  grid-area: booking;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
  border: 2px solid #000;
  margin: 4rem;
  background-color: rgb(230, 230, 230);
  font-size: 6rem;
}

.figure__one, .figure__two, .figure__three, .figure__four, .figure__five, .figure__six {
  display: flex;
  align-items: center;
  margin: 4rem;
  border: 0.1rem solid #000;
  background-color: rgb(230, 230, 230);
}

.booking section h2 {
  font-size: 5rem;
}

/** FORM BOOKING START **/

.form {
  margin: 4rem;
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  background-color: silver;
}

.form__in, .form__out {
  width: 100%;
  background: #fff;
  padding: 3%;
  margin-bottom: 20px;
  margin-right: 2%;
  display: flex;
  font-size: 2rem;
}

.form__in input, .form__out input {
  border: 0;
  width: 70%;
  color: #000;
  padding: 0 4%;
  font-size: 2rem;
}

.form__check {
  width: 7rem;
}

.form__adult {
  width: 100%;
  background: #fff;
  padding: 3%;
  margin-bottom: 20px;
  margin-right: 2%;
  display: flex;
  font-size: 2rem;
}

.form__adult input {
  border: 0;
  width: 70%;
  color: #000;
  padding: 0 4%;
  font-size: 2rem;
}

.form__adult h3 {
  margin-right: 2rem;
}

.form__adult select {
  margin-right: auto;
}

.form__country, .form__room {
  width: 100%;
  display: flex;
  background: #fff;
  padding: 3%;
  margin-bottom: 20px;
  margin-right: 2%;
  font-size: 2rem;
}

.form__option, .form__amount {
  border: 0;
  width: 70%;
  color: #000;
  padding: 0 4%;
  font-size: 2rem;
}

.form .button {
  display: flex;
  margin: auto;
}

/** FORM BOOKING END **/

/** BOOKING END **/

/** FOOTER START **/

.footer {
  grid-area: footer;
  background-color: rgb(121, 121, 121);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__logo {
  width: 15rem;
  height: auto;
  margin: 2rem;
}

/** FOOTER END **/

/** MEDIA Q START **/

@media only screen and (max-width: 390px) {
  .nav__icon {
    display: flex;
  }

  .nav__home, .nav__about, .nav__contact {
    display: none;
  }
}

@media only screen and (max-width: 790px) {
  .figure__three, .figure__four, .figure__five, .figure__six  {
    display: none;
  }
}

@media only screen and (min-width: 790px) {
  .wrapper__about {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-template-areas: 
    "header header header header"
    "first first about about"
    "aside aside second second"
    "footer footer footer footer";
    gap: 0;
    margin: 0;
  }

  .wrapper__booking {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows: auto;
    grid-template-areas: 
    "header header header header header header"
    "one one two two three three"
    "booking booking booking form form form"
    "four four five five six six"
    "footer footer footer footer footer footer";
    gap: 0;
    margin: 0;
  }

  .section__aside {
    font-size: 8rem;
  }
}
/** MEDIA Q END **/